body{
    background:#ffff00;
}
.form{
    margin:10px; 
    width:100%;
    border:none;
} 
legend{
    font-size:larger;
    font-weight:bold;
}
input{
    display:block;
    width:80%; 
    padding:5px;
    margin:10px; 
    background:#fff;
} 
input:invalid{
    box-shadow: 0,0,5px,1px,red;
}
input:valid{
    box-shadow:0,0, 5px,1px, green;
}


input[name="message"]{
    height:150px;
}